@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root
{
  --primaryColor: #2583a7;
  --primaryTextColor: #fff;
  --primaryColorAlt: #bfe0e9;
  --sidePaneSelection: #374550;
}

.poppins-thin {
    font-family: "Poppins", sans-serif;
    font-weight: 100;
    font-style: normal;
}

.poppins-extralight {
    font-family: "Poppins", sans-serif;
    font-weight: 200;
    font-style: normal;
}

.poppins-light {
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: normal;
}

.poppins-regular {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.poppins-medium {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
}

.poppins-semibold {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
}

.poppins-bold {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: normal;
}

.poppins-extrabold {
    font-family: "Poppins", sans-serif;
    font-weight: 800;
    font-style: normal;
}

.poppins-black {
    font-family: "Poppins", sans-serif;
    font-weight: 900;
    font-style: normal;
}

.poppins-thin-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 100;
    font-style: italic;
}

.poppins-extralight-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 200;
    font-style: italic;
}

.poppins-light-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: italic;
}

.poppins-regular-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: italic;
}

.poppins-medium-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: italic;
}

.poppins-semibold-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: italic;
}

.poppins-bold-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: italic;
}

.poppins-extrabold-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 800;
    font-style: italic;
}

.poppins-black-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 900;
    font-style: italic;
}

.sgapp-job-label 
{
    display: inline-block;
    min-width: 1.5em;
    min-height: 1.5em;
    background: #1abc9c;
    content: "";
    padding: 0.5em;
    border-radius: 1em;
}

.sgapp-text-header 
{
    color: #374550;
    font-weight: 700;
}

.sgapp-text-dark
{
    color: #374550;
}

#sgapp-sign-in-card-right-panel
{
    height: 30em;
    display: flex;
    align-items: center;
}

body
{
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
}

#sgapp-signin-card
{
    border-radius: 0.5em;
}

#sgapp-signin-card-banner
{
    background: url("../img/app-banner.png");
    min-height: 10em;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

#sgapp-event-card
{
    position: absolute;
    z-index: 101;
    left: 0;
    top: 0;
    border: 1px solid cornflowerblue;
    box-shadow: 2px 3px 29px 0px rgba(0,0,0,0.75);
    display: none;
}

#sgapp-event-card[data-visible="true"]
{
    display: block;
}

.sgapp-banner-404
{
    background: url("../img/404.svg");
}

.sgapp-banner-500
{
    background: url("../img/500.svg");
}

.sgapp-banner-429
{
    background: url("../img/429.svg");
}

.sgapp-banner-403
{
    background: url("../img/403.svg");
}

.sgapp-banner-500-2
{
    margin-top: 8em;
}

.sgapp-banner
{
    min-height: 30em;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

#sgapp-direct-sign-in-panel
{
    border-bottom: 1px solid lightgrey;
    padding-bottom: 2em;
}

.sgapp-center
{
    text-align: center;
}

.sgapp-right
{
    text-align: end;
}

ul.sidebar-nav,
a.sidebar-link,
a.sidebar-brand
{
    background: #fff;
}

.sidebar-item.active
{
    background: none;
    border: none;
    transition: none;
}

.sidebar-item.active .sidebar-link,
.sidebar-item.active .sidebar-link:hover
{
    background: var(--sidePaneSelection);
    border: 3px solid transparent;
    padding: 0.25em 1em;
    margin-left: 1em;
    margin-right: 1em;
    border-radius: 0.5em;
}

.sidebar-item.active .sidebar-link svg,
a.sidebar-link:hover svg
{
    stroke: var(--primaryTextColor) !important;
}

.sidebar-item.active .sidebar-link span,
a.sidebar-link:hover span
{
    color: var(--primaryTextColor) !important;
}

#sidebar *
{
    color: #34495e;
}

#sgapp-logo-img
{
    max-height: 4em;
}

#sgapp-main
{
    max-height: calc(100vh - 8.5em);
    overflow-y: auto;
}

#sgapp-page-header h1
{
    font-size: 1.2em;
}

#sgapp-page-header
{
    display: inline-block;
    position: absolute;
    left: 4.5em;
    top: 0.5em;
}

#sgapp-calendar-toolbar-large
{
    display: block;
}

#sgapp-calendar-toolbar-small
{
    display: none;
}

.sgapp-event-details-header 
{
    color: #34495e;
}

.sgapp-event-details
{
    border-bottom: 1px solid #ecf0f1;
}

.sgapp-event-details h3
{
    font-size: 1.2em;
    border-left: 0.25em solid #1abc9c;
    color: #34495e;
}

.sgapp-event-details p
{
    color: #7f8c8d;
}

.sgapp-full-width 
{
    width: 100%;
}

.fc-button
{
    /*display: none;*/
}

.sgapp-button-icon
{
    width: 1em;
    height: auto;
    display: inline-block;
    margin-right: 0.3em;
}

.fc-button
{
    background: none;
    border: none;
    box-shadow: none;
    font-weight: 500;
}

.fc-button.fc-state-active
{
    background: var(--primaryColorAlt);
    color: var(--primaryColor);
    border-radius: 0.25em;
}

.fc-addEventButton-button
{
    background: var(--primaryColor);
    color: var(--primaryTextColor);
    font-weight: normal;
}

.sgapp-select2-full
{
    width: 100%;
}

.sgapp-avatar
{
    width: 3em;
}

.sgapp-small
{
    font-size: small;
}

.sgapp-timepicker-input-wrapper
{
    position: relative;
}

.sgapp-timepicker-input-wrapper .TimePick_BTN
{
    position: absolute;
    right: 0;
    top: -0.2em;
}

.btn-info,
.btn-success,
.dt-paging-button.page-item.active a
{
    background: var(--primaryColor) !important;
    color: var(--primaryTextColor) !important;
}

#nav-calendar
{
    padding: 1em;
}

.select2
{
    max-height: 2.5em;
    overflow: hidden;
    border: 1px solid lightgray;
    border-radius: 0.25em;
}

.select2-selection.select2-selection--single
{
    padding: 0.2em;
    border: none;
}

#sgapp-main-calendar .fc-header-toolbar,
#sgapp-main-calendar .fc-view-container
{
    background: #fff;
    border-radius: 0.5em;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.01), 0 6px 20px 0 rgba(0, 0, 0, 0.02);
}

#sgapp-main-calendar .fc-header-toolbar 
{
    padding: 1em;
    margin-bottom: 2em;
}

#sgapp-main-calendar .fc-view-container
{
    padding: 2em;
    margin-top: 2em;
}

#sgapp-main-calendar .fc-month-view .fc-time
{
    display: none;
}

.dt-button.buttons-html5,
.dt-button.buttons-page-length
{
    background: #f1f2f6 !important;
    border-color: #f1f2f6 !important;
    transition: 0.3s;
}

.dt-button.buttons-html5:hover,
.dt-button.buttons-page-length:hover
{
    background: #dfe4ea !important;
    border-color: #dfe4ea !important;
}

@media only screen and (max-width: 768px)
{    
    body
    {
        overflow-x: hidden;
    }
    
    #sgapp-signin-card-banner
    {
        height: 128px;
    }
    
    .sgapp-banner
    {
        min-height: 128px !important;
    }
    
    #sgapp-page-header
    {
        left: 3.5em;
    }
    
    #sgapp-main
    {
        max-height: auto;
    }
    
    #main-search
    {
        display: none;
    }
    
    .sgapp-center 
    {
        /*text-align: center !important;*/
    }
    
    #sgapp-sign-in-card-right-panel
    {
        height: auto;
    }

    #sgapp-sign-in-card-right-panel > div
    {
        margin-top: 1em;
    }
    
    .fc-toolbar
    {
        display: block !important;
        text-align: center;
    }
    
    .fc-toolbar .fc-toolbar-chunk
    {
        margin-top: 1em;
        margin-bottom:  1em;
    }
    
    footer *
    {
        font-size: xx-small;
    }
    
    .sgapp-banner-500-2
    {
        margin-top: 2em;
    }
    
    .fc-toolbar .fc-center,
    .fc-toolbar .fc-right
    {
        display: block;
        width: 100%;
        float: none;
        position: relative;
    }
    
    .fc-toolbar .fc-center .fc-button-group,
    .fc-toolbar .fc-right
    {
        position: absolute;
        left: 50%;
        transform: translate(-50%, 0);
    }
    
    .fc-toolbar .fc-center .fc-button-group
    {
        width: 12em;
        margin-top: 3em !important;
    }
    
    .fc-toolbar .fc-right
    {
        width: 15em;
        margin-top: 7.5em !important;
    }
    
    .fc-toolbar .fc-left select
    {
        position: absolute;
        left: 50%;
        transform: translate(-50%, 0);
    }
    
    .fc-toolbar .fc-left
    {
        position: relative;
    }
    
    .fc-view-container 
    {
        margin-top: 10em !important;
    }
    
    #nav-calendar .fc-right .fc-button-group
    {
        margin-top: 2em;
    }
    
    #main-search 
    {
        display: none;
    }
}

@media only screen and (max-width: 1266px)
{
    #sgapp-calendar-toolbar-large
    {
        display: none;
    }
    
    #sgapp-calendar-toolbar-small
    {
        display: block;
    }
    
    .fc-toolbar .fc-left
    {
        display: block;
        width: 100%;
    }
    
    .fc-toolbar .fc-left h2
    {
        width: 100%;
        text-align: center;
    }
    
    .fc-toolbar .fc-center 
    {
        float: left;
    }
    
    .fc-view-container 
    {
        margin-top: 1em;
    }
    
    .fc-toolbar .fc-center .fc-button-group
    {
        margin-top: 1em;
    }
    
    .fc-toolbar .fc-right
    {
        margin-top: 1em;
    }
}


@media only screen and (max-width: 1450px)
{
    .fc-toolbar
    {
        display: block !important;
        text-align: center;
    }
    
    .fc-toolbar .fc-toolbar-chunk
    {
        margin: 0.5em;
        display: inline-block;
    }
    
    .fc-toolbar .fc-toolbar-chunk:first-child
    {
        display: block;
    }
}

@media print {
    body {
        visibility: hidden;
    }
    
    #sgapp-print {
        visibility: visible;
        position: absolute;
        left: 0;
        top: 0;
    }
    
    #sgapp-print tfoot {
        border-top: 2px solid #000;
    }
    
    .dt-button,
    .dt-search,
    .dt-info,
    .dt-paging-button,
    .dt-column-order {
        visibility: hidden;
    }
}
